*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.globale{
    width: 400px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px rgb(73, 34, 34);
    margin-bottom: 2rem;
    background-color: beige;
    margin-top: 2rem;

}
body{
    width: 100%;
    background: radial-gradient(circle, rgb(67, 67, 146) 2%, rgb(22, 20, 65) 99%);
}

.conteneur{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

img{
    width:100%;
}


.isValidation {
    width: 100%;
  background-color: darkgreen;  
  }
  
.isNotValidation {
    width: 100%;
   
  }
  